<div class="container bd-footer py-5 mt-5">
	<div class="container mx-auto text-center">
		<a href="#header">
			<img src="/image/abc.png" width="30px" height="30px">
		</a>
	</div>
	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		<p class="col-md-4 mb-0 text-muted">&copy; 2023 Company, Inc</p>

		<a href="/"
			class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap" />
			</svg>
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item"><a href="/admin/items" class="nav-link px-2 text-muted">Home</a></li>
			<!--			<li class="nav-item"><a href="/customer" class="nav-link px-2 text-muted">Customer</a></li>-->
			<!--			<li class="nav-item"><a href="/cart" class="nav-link px-2 text-muted">Cart</a></li>-->
			<!--			<li class="nav-item"><a href="/enquiries" class="nav-link px-2 text-muted">問い合わせ</a></li>-->
		</ul>
	</footer>
</div>