<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>顧客情報</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<link rel="canonical" href="https://getbootstrap.com/docs/4.2/examples/starter-template/">

	<!-- Bootstrap core CSS -->
	<link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="/css/headers.css" rel="stylesheet">
	<link href="/css/enquiries.css" rel="stylesheet">
	<link href="/css/message.css" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/message.js}"></script>
</head>

<body class=text-center>
	<header th:replace="header"></header>
	<div id="header"></div>
	<div th:replace="search"></div>
<!--	<hr>-->
	<div th:replace="information"></div>
	<div class="row mx-auto">
		<div class="col"></div>
		<div class="col">
			<form action="/customer/history" method="get">
				<button class="mx-auto btn btn-info">注文履歴</button>
			</form>
		</div>
		<div class="col mx-auto">
			<form action="/customer/edit" method="get">
				<button class="mx-auto btn btn-dark">情報更新</button>

			</form>
		</div>
		<div class="col"></div>
	</div>
	<footer th:replace="footer"></footer>
</body>

</html>