<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>プライバシーポリシー</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.2/examples/sign-in/">
</head>

<body>

	<section class="gutter detail-section">
		<header class="section-header">
			<div class="section-header-inner">
				<div class="section-head">
					<h2 class="section-heading">プライバシーポリシーの雛形・テンプレート</h2>
					<!-- <p class="section-caption"><span></span></p> -->
				</div>
			</div>
		</header>
		<div class="inner">
			<div class="detail">
				<div class="detail-text">
					<p>「事業を拡大し個人情報も取り扱うことになるため、プライバシーポリシーの策定を検討しているが、どのようなものが一般的だろうか。」「プライバシーポリシーについて取引先から質問を受けているが、どのような規程がこれにあたるだろうか。」<br />このように、プライバシーポリシーについてお悩みの方は決して少なくありません。
					</p>
					<p>&nbsp;</p>
					<p>このページでは、企業法務にまつわる数多くのテーマのなかから、プライバシーポリシーとその雛形・テンプレートをご紹介いたします。</p>
					<p>&nbsp;</p>
					<p>■プライバシーポリシーとは<br />プライバシーポリシーとは、個人情報保護方針とも呼ばれるもので、企業が個人情報の利用目的や管理体制についてまとめたものです。プライバシーポリシーの作成は、個人情報を取扱う企業の義務とされています。一般的に、個人情報を扱うことがある企業の場合、ホームページ上などでプライバシーポリシーを開示しています。開示しない場合であっても、本人に対してプライバシーポリシーを説明する必要があります。
					</p>
					<p>&nbsp;</p>
					<p>■プライバシーポリシーの雛形・テンプレート<br />プライバシーポリシーの雛形・テンプレートを下記に記載しております。プライバシーポリシーの作成にあたって、作り方や書き方が分からないという方も多くいらっしゃいます。下記の雛形・テンプレートは、一部加筆修正を行うことでご利用いただけますので、ぜひご参照ください。
					</p>
					<p>&nbsp;</p>
					<p>プライバシーポリシー</p>
					<p>&nbsp;</p>
					<p>〇〇〇〇株式会社（以下、弊社といいます。）は、個人情報の保護は弊社が事業活動を行うにあたっての基礎であるとともに、弊社の社会的責任であると認識しております。<br />弊社は、弊社の製品やサービスに関する情報をはじめ、お客様からご提供いただいた個人情報等、多種多様な情報を取り扱っております。<br />弊社は個人情報保護について、関連規程の制定及び管理体制の確立を図るとともに、以下のとおりプライバシーポリシーを定め、弊社役員及び従業員に周知徹底し、本方針に従って個人情報を適切に利用、管理及び保護することといたします。
					</p>
					<p>&nbsp;</p>
					<p>1.
						個人情報の収集、利用及び提供について<br />弊社は、事業活動を行うにあたって、お客様の大切な情報をご提供いただいていることを踏まえ、各業務実態に応じて個人情報を保護するための情報管理体制を確立し、個人情報の収集、利用及び提供に関して所定の規程に則り適切な取り扱いをいたします。
					</p>
					<p>&nbsp;</p>
					<p>2. 法令の遵守について<br />弊社は、個人情報の取り扱いに関して、法令を遵守いたします。</p>
					<p>&nbsp;</p>
					<p>3.
						安全対策について<br />弊社は、個人情報を保護するため、情報セキュリティに関する規程に基づき、当該個人情報の管理、個人情報の持ち出し方法の指定、第三者からの不正アクセスの防止等の対策を行い、個人情報の漏洩、紛失、改ざん、破壊等の予防を図ります。
					</p>
					<p>&nbsp;</p>
					<p>4. ご本人様の要請について<br />弊社は、個人情報に関して、ご本人様から当該個人情報の開示、訂正、削除、利用または提供について何らかの要請を受けた場合、誠実に対応いたします。</p>
					<p>&nbsp;</p>
					<p>5.
						個人情報管理規程について<br />弊社は、弊社役員及び従業員に対し、個人情報を保護する重要性と必要性の理解促進を図り、個人情報の適切な管理を図るため、個人情報管理規程を定め、当該規程を遵守いたします。
					</p>
					<p>&nbsp;</p>
					<p>個人情報の利用目的<br />弊社は、事業活動に関連してご提供いただく（またはご提供いただいている）個人情報に関して、以下の目的に該当する場合のみ利用いたします。</p>
					<p>&nbsp;</p>
					<p>１.
						お客様の個人情報について<br />弊社製品及びサービス情報等に関するご案内のため<br />弊社製品及びサービス情報等についてのお問い合わせに対する回答連絡のため<br />弊社製品及びサービス情報等についてのアフターサービスなど取引業務遂行のため<br />弊社製品及びサービスの販売またはご提供を目的とするご本人様確認のため<br />弊社製品及びサービス情報等についてのアンケート調査及びモニター調査のため<br />弊社製品及びサービス情報等についてのマーケティング活動のため<br />その他弊社製品及びサービス情報等のご提供に必要な場合
					</p>
					<p>&nbsp;</p>
					<p>２.
						株主及び投資家の方の個人情報について<br />法令に基づく権利行使及び義務履行のため<br />法令に基づく株主管理のため<br />IR活動について株主及び投資家の皆様への情報提供及び調査のため
					</p>
					<p>&nbsp;</p>
					<p>３. 取引先各社の個人情報について<br />業務上必要な諸連絡及び商談等のため<br />情報管理及び収支処理のため</p>
					<p>&nbsp;</p>
					<p>４. 採用応募者様の個人情報について<br />採用活動についての連絡、情報提供及び調査のため</p>
					<p>&nbsp;</p>
					<p>５. 広報活動にあたっての個人情報について<br />広報活動としての情報提供のため</p>
					<p>&nbsp;</p>
					<p>６. 環境保全活動にあたっての個人情報について<br />CSR・環境保全活動についての情報提供及びアンケート調査のため</p>
					<p>&nbsp;</p>
					<p>お問い合わせ窓口<br />弊社が現在保有する個人情報についての開示等の要請及び弊社の個人情報の取り扱いについてのご質問は、以下の手続きにて承っております。<br />なお、本手続きによらない要請の場合、ご対応いたしかねる場合がございますので、ご了承ください。
					</p>
					<p>&nbsp;</p>
					<p>１.
						個人情報の開示等の手続き<br />下記の送付先まで、郵送にてお送りください。<br />弊社からご本人様またはその代理人様であることのご確認をさせていただき、確認が取れ次第、書面のご送付またはお客様及び弊社が合意した方法にてご対応いたします。<br />なお、郵送料はご本人様のご負担となること、対応には日数を頂戴することにつきご了承ください。
					</p>
					<p>&nbsp;</p>
					<p>２. 送付先<br />〒〇〇〇-〇〇〇〇<br />〇〇市〇〇区〇丁〇〇番〇〇号<br />〇〇〇〇株式会社　<br />電話番号：〇〇-〇〇〇〇-〇〇〇〇
						<br />受付時間：平日午前〇時から午後〇時まで</p>
					<p>&nbsp;</p>
					<p>里村総合法律事務所は、大阪を拠点とし、プライバシーポリシーの作成をはじめとして、企業法務に関するご相談を広く承っております。<br />企業法務についてお悩みの方は、里村総合法律事務所までどうぞお気軽にご相談ください。
					</p>
				</div>
				<div class="detail-paging">
					<div class="detail-paging-subsection">
						<div class="prev"><a
								href="https://satomura-law.com/kigyo-homu/nda%ef%bc%88%e7%a7%98%e5%af%86%e4%bf%9d%e6%8c%81%e5%a5%91%e7%b4%84%e6%9b%b8%ef%bc%89%e3%81%ae%e9%9b%9b%e5%bd%a2%e3%83%bb%e3%83%86%e3%83%b3%e3%83%97%e3%83%ac%e3%83%bc%e3%83%88/"
								rel="next">« NDA（秘密保持契約書）の雛形・テンプレート</a></div>
						<div class="next"><a
								href="https://satomura-law.com/kigyo-homu/%e5%a5%91%e7%b4%84%e6%9b%b8%e5%86%85%e5%ae%b9%e3%82%92%e5%a4%89%e6%9b%b4%e3%81%99%e3%82%8b%e8%a6%9a%e6%9b%b8%e3%81%ae%e3%82%b5%e3%83%b3%e3%83%97%e3%83%ab%e3%83%95%e3%82%a9%e3%83%bc%e3%83%9e%e3%83%83/"
								rel="prev">契約書内容を変更する覚書のサンプルフォーマット »</a></div>
					</div>
					<div class="detail-paging-subsection">
						<div class="back"><a href="/account">一覧に戻る</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>